*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 100%;
  min-height: 100vh;
  padding: 10px;
  background: linear-gradient(135deg, #156f77, #485f08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-app{
  width: 90%;
  max-width: 540px;
  margin: 0 auto;
  background: #fff;
  height: 100%;
  /* margin: 100px auto 20px; */
  padding: 40px 30px;
  border-radius: 10px;
}
.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.todo-app h2 img{
  width: 30px;
  margin-left: 10px;
}
.row{
  display: flex;
  align-items: center;
  justify-content: center;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
  width: 100%;
}
input{
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px;
  font-weight: 14px;
  width: 100%;
}
button{
  border: none;
  outline: none;
  padding: 16px 50px;
  background: green;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 40px;
}
ul li{
  list-style: none;
  font-size: 17px;
  padding: 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}
ul li::before{
  content: '';
  position: absolute;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: 2px solid #999898;
  top: 16px;
  left: 10px;
}
ul li.checked{
  color: #555;
  text-decoration: line-through;
}

ul li.checked::before{
  background-color: red;
  border: 2px solid red;

}
ul li span{
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #555;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}
ul li span:hover{
  background: #edeef0;

}

@media screen and (max-width: 786px){
  input{
    padding: 10px 2px;
  }
  button{
    padding: 8px 20px;
    font-size: 14px;
    font-weight: normal;
    border-radius: 20px;
  }
  
}



